.ItemFood img {
    max-width: 50px;
}

.ItemFoodText {
    font-weight: bold;
}

.ItemFoodSubtitle {
    color: #666666;
}

.ItemFoodTexts {
    border-bottom: 1px solid #e4e4e4;
}

@media only screen and (max-width: 768px) {
    .ItemFood:first-child {
        padding-top: 1rem;
    }
    .ItemFoodText {
        font-size: 19px;
    }
    .ItemFoodSubtitle {
        line-height: 30px;
    }
}