.InputNumberCustom {
    background: #e8e8e8;
    border-bottom: 2px solid #9a9a9a;
    position: relative;
    padding: 8px 0 0 15px;
}

.InputNumberCustom span.InputNumberCustomTitle {
    color: #5c5c5c;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
}

.InputNumberCustom .form-control, .InputNumberCustom .form-control:focus, .InputNumberCustom .form-control:active, .InputNumberCustom .form-control:hover {
    border: 0!important;
    background: transparent!important;
    box-shadow: none!important;
}

.rc-input-number-handler {
    line-height: 20px;
    height: 25px
}

.rc-input-number-handler-up {
    border: 0;
    vertical-align: bottom;
    padding-top: 8px;
}

.rc-input-number-handler-wrap {
    border: 0;
    margin-right: 10px;
}

.rc-input-number-input {
    background: transparent;
    text-align: left;
    font-weight: bold;
    color: #1e1e1e;
    padding-top: 10px;
}

.rc-input-number {
    font-size: 17px;
    height: 50px;
}

.InputNumberCustom svg {
    font-size: 12px;
}

.InputNumberCustomSubtitle {
    color: #5c5c5c;
    position: absolute;
    bottom: -24px;
    font-size: 14px;
    white-space: nowrap;
}

.InputNumberCustom:hover .InputNumberCustomSubtitle {
    color: #6200ee;
}

.InputNumberCustom:hover span.InputNumberCustomTitle {
    color: #6200ee;
}

.InputNumberCustom:hover {
    border-bottom: 2px solid #6200ee;
}