.Goal {
    margin: 1rem 3rem;
}

.Goal .progress {
    height: 0.3rem;
}

.Goal .progress-bar {
    background-color: #6200ee;
}

.GoalPercentage {
    padding-top: 8px;
    font-family: unset;
    font-weight: bold;
    font-size: 16px;
    color: #6f6f6f;
}

@media only screen and (max-width: 768px) {
    .Goal {
        margin: 1rem 1.5rem;
    }
}