.Search {
    background: #6200EE;
}

.Search .input-group {
    width: auto;
    z-index: 15;
}

.Search .input-group-text {
    background: white;
    /* para mobile */
    padding-right: 0;
}

.SearchInput {
    font-weight: bold;
    border-left: 0;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
}

.SearchInputMobile {
    font-weight: bold;
    font-size: 20px;
    line-height: 70px;
    height: 70px;
    border-left: 0;
}

.SearchIconMobile {
    font-size: 1.8rem;
    margin: 0rem 0rem 0rem 0.5rem;
}