.Search {
    background: #6200EE;
}

.Search .input-group-text {
    background: white;
}

.SearchInput {
    font-weight: bold;
    border-left: 0;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
}

.SearchInputMobile {
    font-weight: bold;
    font-size: 25px;
    line-height: 90px;
    height: 90px;
    border-left: 0;
}

.SearchIconMobile {
    font-size: 1.8rem;
    margin: 1rem;
}