.ListCommon {
    border-bottom: 1px solid #e0e0e0;
}

.ListCommonNoElement {
    text-align: center;
    margin: 2rem;
    font-size: 16px;
    color: #666666;
}

.ListCommonTitle {
    color: #646464;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 1px;
    margin: 8px 0;
    text-transform: uppercase;
}