* {
  font-family: 'Sebino';
}

html, body, #root {
  height: 100%;
}

#root {
  background: whitesmoke;
}

::placeholder {
  color: #212121!important;
}

@media (max-width: 767px) {
  #root {
    background: white;
  }
}